.large.header {
  font-family: 'Permanent Marker', cursive;
}

.column {
  padding: 20px;
}

.column a {
  text-decoration: none;
  color: white;
}

.column a:hover {
  text-decoration: none;
  color: white;
}
