@import "node_modules/bootstrap/scss/bootstrap";


// $carousel-control-next-icon-bg: red !important;


//  #{site} .carousel-control-prev-icon {
//  background-image: ArrowRight;
// }

.carousel-control-next-icon {
  opacity: 0 !important;
  background-image: url("data:image/svg+xml,data:image/svg+xml,<svg width='1em' height='1em' viewBox='0 0 16 16' class='bi bi-arrow-right-circle-fill' fill='currentColor' xmlns='http://www.w3.org/2000/svg'> <path fill-rule='evenodd' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z'/> </svg>");
 }

.carousel-control-prev {
  opacity: 0 !important;
 }
// .carousel-control-prev-icon::before {
//   display: inline-block;
//   content: "";
//   background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
//   background-repeat: no-repeat;
//   background-size: 1rem 1rem;
// }
