/*.a {
  color: white;
}

.button.ui.button {
  padding-right: 40px;
  padding-left: 40px;
}

.ui.menu:not(.vertical) .item>.button {
    margin: 0 5px;
}

.navbar.container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  margin: -100px;
  color: white;
}

*/

.navbar.container {
  position: absolute;
  width: 100vw;
  top: -20px;
}
