
#info-box {
  padding: 5em 0;
}

.medium.header {
  padding: 0 2em 3em;
}

#welcome-header {
  font-size: 3.5em;
  text-shadow: 3px 3px #136D6D;
}

#skills-container {
  padding-bottom: 4em;
}

#quote-box .column {
  padding: 3em;
}

.ui.segment {
  padding: 0;
}

#website .container {
  padding: 4em 0;
}

.img-hover img:hover {
  opacity: 0.8;
}

.img-hover img {
  margin-bottom: 2em;
}

.img-hover .image {
  border-radius: 4px;
}

h2 {
  text-align: center;
  padding: 20px 0;
}

#info-box h2 {
  font-family: 'Permanent Marker', cursive;
}

#portrait {
  max-width: 30em;

}
